# flyway.conf
flyway.url=jdbc:snowflake://zvb91206.snowflakecomputing.com
flyway.user=${SNOWFLAKE_USER}
flyway.password=${SNOWFLAKE_PASSWORD}
flyway.defaultSchema=DEMO
flyway.schemas=DEMO
flyway.locations=filesystem:db
flyway.snowflake.role=SYSADMIN
flyway.snowflake.warehouse=COMPUTE_WH
flyway.snowflake.database=TEST